<center>
<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div style='width: 400px;'>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <form class="mx-1 mx-md-4">
  <label class="form-label" for="form3Example3c">Name</label>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control" %><br>

        <label class="form-label" for="form3Example3c">Your Email</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %><br> 
        
        <label class="form-label" for="form3Example3c">Contact Number</label>
        <%= f.text_field :contact_number, autofocus: true, autocomplete: "contact_number",class:"form-control" %><br>
        
        <label class="form-label" for="form3Example3c">Image</label>
        <%= f.file_field :image, autofocus: true, autocomplete: "image",class:"form-control"  %><br>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>


        <label class="form-label" for="form3Example4c">Password</label>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %><br>

        <label class="form-label" for="form3Example4cd">Repeat your password</label>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control"%><br>

          
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password" , class:"form-control" %>
  <br>
      <div class="wrapper1">
        <%= f.submit "Update", class:"btn btn-info" %>
      </div>
<% end %>
</div>
  <br>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, style: 'width: 200px;' %></p>

<%= link_to "Back", :back %>
</center>
