<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone give Review for your restuarant , <%= @user.email %></h1>
    <p>
      
     <%= @user.name %> &#128522;<br>
    </p>
    <p>
      <b> Title :</b>: <%= @review.title %><br>
      <b> Description :</b>: <%= @review.description %>.<br>
      <b> Rating :</b><%= @review.rating %>.<br>
    </p>
    
  </body>
</html>
