<div class="form">
<%= form_for([ @restaurant , @restaurant.reviews.build ], remote: true) do  |form| %>
    
    	<%= form.label :Title, class:"form-label" %>
    	<%= form.text_field :title, class:"form-control" %>
    
    	<%= form.label :Description, class:"form-label" %>
    	<%= form.text_field :description, class:"form-control" %>
    <br> 
    <div class="rate">
    <span style="font-weight:bold">Rating :</span>

      <%= form.label :rating, for: "review_rating_5" %>
    	<%= form.radio_button :rating,['5'] %>
    	<%= form.label :rating,for: "review_rating_4" %>
    	<%= form.radio_button :rating,['4'] %>
    	<%= form.label :rating,for: "review_rating_3" %>
    	<%= form.radio_button :rating,['3'] %>
    	<%= form.label :rating,for: "review_rating_2" %>
    	<%= form.radio_button :rating,['2'] %>
    	<%= form.label :rating,for: "review_rating_1" %>
    	<%= form.radio_button :rating,['1'] %>
    </div>
    <br><br>
    
    	<%= form.submit 'Add' , class:"btn btn-success btn-sm" %>
</div>

<% end %>
